extends ./layout.jade

block header
    .container-fluid.profile-details-header
        .profile-details-cover(fill-with-lorem-ipsum is-cover)
        .profile-details-image
            img(fill-with-lorem-ipsum is-avatar)
        .profile-details-name
            h1(fill-with-lorem-ipsum is-name)

        //.row-centered.section.search-container(
        //ng-class="{'is-full-screen':uiState.is('FULL_SCREEN_TAB', 'SEARCH')}"
        //)
        //    .search-product.col-xs-12.col-sm-8.col-sm-offset-2.col-lg-offset-3.col-lg-6.col-padding-0
        //        .form-group.inner-addon.left-addon.right-addon
        //            i.fa.fa-search
        //            input.form-control(
        //            ng-click="uiState.switch({'FULL_SCREEN_TAB':'SEARCH'});"
        //            type="search"
        //            placeholder="SEARCH"
        //            )
        //            button.fa.fa-close.clickable.close-search.show-on-sm.show-on-fullscreen(
        //            ng-click="uiState.reset('FULL_SCREEN_TAB');"
        //            )
        //
        //    button.close-search.pull-right.show-on-fullscreen.hide-on-xs(
        //    ng-click="uiState.reset('FULL_SCREEN_TAB');"
        //    )
        //        i.fa.fa-close
        //    .clearfix
        //    .row.row-centered.row-margined-top.show-on-fullscreen
        //        .col-xs-12.col-xs-offset-0.col-sm-8.col-sm-offset-2.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3.search-tags.hide-on-sm(ng-class="{'hide-on-sm-disabled':uiState.is('tagsAreVisible',true)}")
        //            search-tag(ng-repeat="i in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]")
        //        .col-xs-12.col-xs-offset-0.col-sm-8.col-sm-offset-2.col-md-8.col-md-offset-2.col-lg-8.col-lg-offset-2.search-tags-toggle.show-on-sm(ng-if="uiState.is('tagsAreVisible',false)")
        //            button.btn.btn-lg(ng-click="uiState.switch('tagsAreVisible')") More Options

    .section.section-wide.section-condensed.section-info-row.dark-white(
    ng-init="uiState.switch('ACCOUNT_TAB','RECENT')"
    )
        ul(
        class="{{uiState.isAny('screen-size','screen-md','screen-lg')?'side-menu':'nav navbar-pills subnav'}}"
        )
            each link in [{name:'RECENT','fa-icon':'history'},{name:'PURCHASED','fa-icon':'shopping-cart '},{name:'LIKED','fa-icon':'thumbs-o-up'}]
                li(
                class="{{uiState.isAny('screen-size','screen-md','screen-lg')?'circle':'col-xs-4 col-padding-0'}}"
                ng-class="{'active':uiState.is('ACCOUNT_TAB','" + link.name + "')}",
                ng-click="uiState.switch('ACCOUNT_TAB','" + link.name + "')"
                )
                    a(
                    href="#" + link.name + ""
                    ).eclipse-text
                        i.fa(
                        class="fa-" + link['fa-icon']
                        )
                        span=link.name
                li.line

block content
    div(ng-controller="DashboardCtrl as Dashboard")
        .section.section-wide.section-info-row.dark-white.top-border-thick(
        id="RECENT"
        in-view-half="uiState.switch('ACCOUNT_TAB','RECENT')"
        ng-show="uiState.is('ACCOUNT_TAB','RECENT')||uiState.isAny('screen-size','screen-md','screen-lg')"
        ng-class="{'section-fullscreen-on':uiState.is('FULL_SCREEN_TAB','RECENT')}"
        ng-init="uiState.switch('recentListViewType','LIST')"
        )
            .container-fluid
                a.btn.btn-exit-fullscreen.pull-right(
                ng-click="uiState.reset('FULL_SCREEN_TAB').switch('recentListViewType','LIST');"
                )
                    i.fa.fa-close

            .container.container-info-row
                .row
                    h1.info-row-title.col-xs-8 RECENT
                    .col-xs-4
                        button.link-btn.pull-right(
                        href="javascript:void(0);"
                        ng-hide="uiState.is('FULL_SCREEN_TAB','RECENT')"
                        ng-click="Dashboard.fullScreenMode('RECENT')"
                        ) View collection

                p(
                fill-with-lorem-ipsum="200"
                is-text
                ng-show="uiState.isAny('screen-size','screen-md','screen-lg')"
                )

                .row.row-margined-top.row-margined-bottom(
                switch-list-style="recentListViewType"
                ng-if="uiState.is('FULL_SCREEN_TAB','RECENT')"
                )
                    .col-xs-12
                        include ./switch-list-style.jade

            .container.container-product
                .row
                    .col-sm-6.col-lg-4.col-md-3th-max-hide.col-lg-4th-max-hide(
                    ng-repeat="item in Dashboard.getModel('RECENT')"
                    ng-if="$index<3||uiState.is('FULL_SCREEN_TAB','RECENT')"
                    ng-class="{'col-reset-hidden':uiState.is('FULL_SCREEN_TAB','RECENT')}"
                    )
                        product(
                        model="item"
                        short="{{uiState.is('recentListViewType','LIST')}}"
                        )
                    .col-sm-6.col-md-4(ng-hide="uiState.isAny('screen-size','screen-md','screen-lg')")
                        a.show-products(
                        href="javascript:void(0);"
                        ng-show="uiState.is('FULL_SCREEN_TAB','RECENT')"
                        ng-click="Dashboard.loadMore('RECENT')"
                        ) show more
            .clearfix(ng-show="uiState.isAny('screen-size','screen-md','screen-lg')")
                .col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4
                    a.show-products(
                    href="javascript:void(0);"
                    ng-show="uiState.is('FULL_SCREEN_TAB','RECENT')"
                    ng-click="Dashboard.loadMore('RECENT')"
                    ) show more

        .section.section-wide.section-info-row(
        id="PURCHASED"
        in-view-half="uiState.switch('ACCOUNT_TAB','PURCHASED')"
        ng-show="uiState.is('ACCOUNT_TAB','PURCHASED')||uiState.isAny('screen-size','screen-md','screen-lg')"
        ng-class="{'yellow':uiState.isAny('screen-size','screen-md','screen-lg')&&!uiState.is('FULL_SCREEN_TAB','PURCHASED'),'dark-white':!uiState.isAny('screen-size','screen-md','screen-lg')||uiState.is('FULL_SCREEN_TAB','PURCHASED'),'section-fullscreen-on':uiState.is('FULL_SCREEN_TAB','PURCHASED')}"
        ng-init="uiState.switch('purchasedListViewType','LIST')"
        )
            .container-fluid
                a.btn.btn-exit-fullscreen.pull-right(
                ng-click="uiState.reset('FULL_SCREEN_TAB').switch('purchasedListViewType','LIST');"
                )
                    i.fa.fa-close

            .container.container-info-row

                .row
                    h1.info-row-title.col-xs-8 PURCHASED
                    .col-xs-4
                        button.link-btn.pull-right(
                        href="javascript:void(0);"
                        ng-hide="uiState.is('FULL_SCREEN_TAB','PURCHASED')"
                        ng-click="Dashboard.fullScreenMode('PURCHASED')"
                        ) View collection

                .row-margined-bottom(ng-show="uiState.isAny('screen-size','screen-md','screen-lg')")
                    h4.info-row-desc(
                    fill-with-lorem-ipsum='165'
                    )

                .row.row-margined-top.row-margined-bottom(
                switch-list-style="purchasedListViewType"
                ng-if="uiState.is('FULL_SCREEN_TAB','PURCHASED')"
                )
                    .col-xs-12
                        include ./switch-list-style.jade

                .row
                    .col-sm-6.col-lg-4.col-md-3th-max-hide.col-lg-4th-max-hide(
                    ng-repeat="item in Dashboard.getModel('PURCHASED')"
                    ng-if="$index<3||uiState.is('FULL_SCREEN_TAB','PURCHASED')"
                    ng-class="{'col-reset-hidden':uiState.is('FULL_SCREEN_TAB','PURCHASED')}"
                    )
                        product(
                        model="item"
                        short="{{uiState.is('purchasedListViewType','LIST')}}"
                        purchased="true"
                        )
                .row
                    .col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4
                        a.show-products(
                        href="javascript:void(0);"
                        ng-show="uiState.is('FULL_SCREEN_TAB','PURCHASED')"
                        ng-click="Dashboard.loadMore('PURCHASED')"
                        ) show more


        .section.section-wide.section-info-row.dark-white.top-border-thick(
        in-view-half="uiState.switch('ACCOUNT_TAB','LIKED')"
        id="LIKED"
        ng-show="uiState.is('ACCOUNT_TAB','LIKED')||uiState.isAny('screen-size','screen-md','screen-lg')"
        ng-class="{'section-fullscreen-on':uiState.is('FULL_SCREEN_TAB','LIKED')}"
        ng-init="uiState.switch('likedListViewType','LIST')"
        )
            .container-fluid
                a.btn.btn-exit-fullscreen.pull-right(
                ng-click="uiState.reset('FULL_SCREEN_TAB');"
                )
                    i.fa.fa-close

            .container.container-info-row
                .container-info-row
                    .row
                        h1.info-row-title.col-xs-8 LIKED
                        .col-xs-4
                            button.link-btn.pull-right(
                            href="javascript:void(0);"
                            ng-hide="uiState.is('FULL_SCREEN_TAB','LIKED')"
                            ng-click="Dashboard.fullScreenMode('LIKED')"
                            ) View collection
                    p(
                    fill-with-lorem-ipsum="200"
                    is-text
                    ng-show="uiState.isAny('screen-size','screen-md','screen-lg')"
                    )

                    .row.row-margined-top.row-margined-bottom(
                    switch-list-style="likedListViewType"
                    ng-if="uiState.is('FULL_SCREEN_TAB','LIKED')"
                    )
                        .col-xs-12
                            include ./switch-list-style.jade

                .container-product
                    .row
                        .col-sm-6.col-lg-4.col-md-3th-max-hide.col-lg-4th-max-hide(
                        ng-class="{'col-reset-hidden':uiState.is('FULL_SCREEN_TAB','LIKED')}"
                        )
                            product(
                            ng-repeat="item in Dashboard.getModel('LIKED')[0]"
                            ng-if="$index<1||uiState.is('FULL_SCREEN_TAB','LIKED')"
                            model="item"
                            short="{{uiState.is('likedListViewType','LIST')}}"
                            liked="true"
                            )
                        .col-sm-6.col-lg-4.col-md-3th-max-hide.col-lg-4th-max-hide(
                        ng-class="{'col-reset-hidden':uiState.is('FULL_SCREEN_TAB','LIKED')}"
                        )
                            product(
                            ng-repeat="item in Dashboard.getModel('LIKED')[1]"
                            ng-if="$index<1||uiState.is('FULL_SCREEN_TAB','LIKED')"
                            model="item"
                            short="{{uiState.is('likedListViewType','LIST')}}"
                            liked="true"
                            )
                        .col-sm-6.col-lg-4.col-md-3th-max-hide.col-lg-4th-max-hide(
                        ng-class="{'col-reset-hidden':uiState.is('FULL_SCREEN_TAB','LIKED')}"
                        )
                            product(
                            ng-repeat="item in Dashboard.getModel('LIKED')[2]"
                            ng-if="$index<1||uiState.is('FULL_SCREEN_TAB','LIKED')"
                            model="item"
                            short="{{uiState.is('likedListViewType','LIST')}}"
                            liked="true"
                            )
                        .col-sm-6.col-md-4(ng-show="!uiState.isAny('screen-size','screen-md','screen-lg')")
                            a.show-products(
                            href="javascript:void(0);"
                            ng-show="uiState.is('FULL_SCREEN_TAB','LIKED')"
                            ng-click="Dashboard.loadMore('LIKED')"
                            ) show more
                .row.clearfix(ng-show="uiState.isAny('screen-size','screen-md','screen-lg')")
                    .col-sm-6.col-sm-offset-3
                        a.show-products(
                        href="javascript:void(0);"
                        ng-show="uiState.is('FULL_SCREEN_TAB','LIKED')"
                        ng-click="Dashboard.loadMore('LIKED')"
                        ) show more

        .section.section-wide.section-info-row.violet(
        id="SUGGESTIONS"
        )
            include ./suggestions.jade