nav(role="navigation",
ng-init="uiState.switch({'isNavbarNavigation':uiState.is('screen-size','screen-md')||uiState.is('screen-size','screen-lg'),'isNavbarSearch':false,'isNavbarLogin':false})",
ng-class="{'is-navbar-navigation':uiState.is('isNavbarNavigation'),'is-navbar-login':uiState.is('isNavbarLogin'),'is-navbar-search':uiState.is('isNavbarSearch'),'user-menu-on':uiState.is('userMenuOn'),'notif-menu-on':uiState.is('notifMenuOn')}",
class="navbar navbar-inverse top")
    .container-fluid
        .navbar-header.navbar-search-hide
            a.navbar-brand(href='/')
                span.logo
                    img(src='img/logo-white.svg')
            ul.nav.pull-right.ul-buttons.container.navbar-toggle-ul
                li.pull-right
                    button.navbar-button(ng-click="uiState.switchOff('isNavbarLogin','isNavbarSearch').switch('isNavbarNavigation')", type='button')
                        i.fa.fa-bars(ng-show="uiState.is('isNavbarNavigation',false)")
                        i.fa.fa-close(ng-show="uiState.is('isNavbarNavigation',true)")
                li.pull-right
                    button.navbar-button.notif(
                    ng-if="uiState.is('isLoggedIn',true)"
                    )
                        i.fa.fa-bell-o
                li.pull-right
                    button.navbar-button.login(
                    ng-if="uiState.is('isLoggedIn',false)"
                    ng-click="uiState.switch('isLoggedIn',true)"
                    type='button'
                    )
                        h4.hide-on-xs Log In
                        i.fa.fa-user
                li.pull-right
                    button.navbar-button.user(
                    ng-if="uiState.is('isLoggedIn',true)",
                    type='button',
                    ng-mouseleave="uiState.switch('userMenuOn',false)",
                    ng-mouseenter="uiState.switch('userMenuOn',true)"
                    )
                        user-logged-in

        .navbar-search.navbar-search-show.navbar-login-hide
            .navbar-brand-search
                .form-group.inner-addon.left-addon
                    i.fa.fa-search
                    input.form-control(type='search')
            button.navbar-toggle-like(ng-click="uiState.switch('isNavbarSearch')", type='button')
                i.fa.fa-close

        ul.nav.navbar-nav.content-menu.navbar-login-show.navbar-search-hide
            each link in [{name:'Log out',url:'javascript:void(0);','ng-click':"uiState.switchOff('isLoggedIn','isNavbarLogin').switch('isNavbarNavigation',true)"}, {name:'Settings',url:'/Settings'},{name:'Dashboard',url:'/'}]
                li
                    a(
                    href=link.url,
                    ng-click=(link['ng-click'] || '')
                    )
                        h4=link.name
        ul.nav.navbar-nav.content-menu.navbar-navigation-show.navbar-search-hide
            each link in [{name:'Products',url:'/Products'}, {name:'Authors',url:'/Authors'},{name:'About',url:'/About'}]
                li(class=link.url.toLowerCase() === requestUrl.toLowerCase() ? 'active' : '')
                    a(href=link.url)
                        h4=link.name

        ul.nav.navbar-nav.navbar-right.ul-buttons.user-menu.navbar-search-hide
            li
                button.navbar-button.login(ng-if="uiState.is('isNavbarLogin',false)&&uiState.is('isLoggedIn',false)",ng-click="uiState.switch('isLoggedIn',true)", type='button')
                    h4.hide-on-xs Log In
                    i.fa.fa-user
            li
                button.navbar-button.user(
                ng-if="uiState.is('isNavbarLogin',false)&&uiState.is('isLoggedIn',true)",
                type='button'
                ng-mouseleave="uiState.switch('userMenuOn',false)",
                ng-mouseenter="uiState.switch('userMenuOn',true)"
                )
                    user-logged-in
            li
                button.navbar-button.notif(
                ng-if="uiState.is('isNavbarLogin',false)&&uiState.is('isLoggedIn',true)"
                type='button'
                ng-mouseleave="uiState.switch('notifMenuOn',false)",
                ng-mouseenter="uiState.switch('notifMenuOn',true)"
                )
                    i.fa.fa-bell-o

    ul.nav.navbar-nav.content-menu-sub.notif.container-fluid(
    ng-mouseleave="uiState.switch('notifMenuOn',false)",
    ng-mouseenter="uiState.switch('notifMenuOn',true)"
    )
        each link in [{name:'sdsdsdsd',url:'/'},{name:'aasas',url:'/Settings'},{name:'asasas',url:'javascript:void(0);','ng-click':"uiState.switchOff('isLoggedIn','isNavbarLogin','userMenuOn')"}]
            li
                a(
                href=link.url,
                ng-click=(link['ng-click'] || '')
                )
                    h4=link.name

    ul.nav.navbar-nav.content-menu-sub.user.container-fluid(
    ng-mouseleave="uiState.switch('userMenuOn',false)",
    ng-mouseenter="uiState.switch('userMenuOn',true)"
    )
        each link in [{name:'Dashboard',url:'/'},{name:'Settings',url:'/Settings'},{name:'Log out',url:'javascript:void(0);','ng-click':"uiState.switchOff('isLoggedIn','isNavbarLogin','userMenuOn')"}]
            li
                a(
                href=link.url,
                ng-click=(link['ng-click'] || '')
                )
                    h4=link.name

    block header