nav(
role="navigation",
ng-init="uiState.switch({'isNavbarNavigation':uiState.is('screen-size','screen-md')||uiState.is('screen-size','screen-lg'),'isNavbarSearch':false,'isNavbarLogin':false})",
ng-class="{'is-sticky':uiState.is('isSticky'), 'is-navbar-navigation':uiState.is('isNavbarNavigation'),'is-navbar-login':uiState.is('isNavbarLogin'),'is-navbar-search-inline':uiState.is('isNavbarSearch', 'INLINE'),'is-navbar-search':uiState.is('isNavbarSearch','BLOCK'),'user-menu-on':uiState.is('hoverMenuActive', 'user'),'notif-menu-on':uiState.is('hoverMenuActive', 'notif'),'is-full-screen-notif':uiState.is('FULL_SCREEN_TAB', 'NOTIFICATIONS')}",
class="navbar navbar-inverse top"
ui-sticky-nav=''
ng-controller="NavbarTopCtrl as NavbarTop"
)
    .container-fluid.fixed-on-sticky
        .navbar-header.navbar-search-hide
            a.navbar-brand.hide-on-sm(href='/')
                span.logo
                    img(src='img/logo-white.svg')
            ul.nav.pull-right.ul-buttons.container.navbar-toggle-ul
                li.pull-right
                    button.navbar-button(
                    ng-click="uiState.reset('isNavbarSearch').reset('hoverMenuActive').switch('isNavbarNavigation')"
                    type='button'
                    )
                        i.fa.fa-bars(ng-show="uiState.is('isNavbarNavigation',false)")
                        i.fa.fa-close(ng-show="uiState.is('isNavbarNavigation',true)")

                li.pull-right(
                ng-if="!uiState.isAny('screen-size','screen-md','screen-lg')"
                )
                    button.navbar-button.login(
                    ng-if="uiState.is('isLoggedIn',false)"
                    ng-click="uiState.switch('isLoggedIn',true)"
                    type='button'
                    )
                        h4.hide-on-xs Log In
                        i.fa.fa-user
                li.pull-right(
                ng-if="!uiState.isAny('screen-size','screen-md','screen-lg')"
                )
                    include ./user-menu-buttons.jade
                li.pull-right
                    button.navbar-button.pull-right(
                    ng-click="uiState.switch('isNavbarSearch', 'BLOCK').reset('hoverMenuActive')"
                    )
                        i.fa.fa-search

        .navbar-search.navbar-search-show.navbar-login-hide
            .navbar-brand-search
                .form-group.inner-addon.left-addon
                    i.fa.fa-search
                    input.form-control(
                    ng-click="uiState.switch('isNavbarSearch', 'BLOCK')"
                    type='search'
                    )
            button.navbar-toggle-like(
            ng-click="uiState.reset('isNavbarSearch')"
            type='button')
                i.fa.fa-close

        ul.nav.navbar-nav.content-menu.navbar-search-inline-ul.navbar-navigation-show
            li.navbar-search-inline-li.hide-on-xs
                a.navbar-search-inline-li-hide(
                href="javascript:void(0);"
                ng-click="uiState.switch('isNavbarSearch', 'INLINE')"
                )
                    h4 Search
                .navbar-search-inline.navbar-search-inline-li-show
                    .navbar-brand-search
                        .form-group.inner-addon.left-addon
                            button.fa.fa-close(
                            ng-click="uiState.reset('isNavbarSearch')"
                            )
                            input.form-control(
                            type='search'
                            )
            each link in [{name:'Products',url:'/Products'}, {name:'Authors',url:'/Authors'},{name:'About',url:'/About'}]
                li(class=link.url.toLowerCase() === requestUrl.toLowerCase() ? 'active' : '')
                    a(href=link.url)
                        h4=link.name

        ul.nav.navbar-nav.navbar-right.ul-buttons.user-menu.navbar-search-hide(
        ng-if="uiState.isAny('screen-size','screen-md','screen-lg')"
        )
            li
                button.navbar-button.login(ng-if="uiState.is('isNavbarLogin',false)&&uiState.is('isLoggedIn',false)",ng-click="uiState.switch('isLoggedIn',true)", type='button')
                    h4.hide-on-xs Log In
                    i.fa.fa-user
            li
                include ./user-menu-buttons.jade

    .padding-on-sticky
    block header