extends ./layout.jade
block header
    .container-fluid.product-details-header.subnav-container(
    id="INFO"
    ng-controller="productDetailsCtrl as ProductDetails"
    ng-init="uiState.switch('isPurchased',false);uiState.switch('ACCOUNT_TAB','INFO')"
    )
        .product-details-image(fill-with-lorem-ipsum is-cover)
        .product-details-title
            h1(fill-with-lorem-ipsum="15",is-title)
            .col-xs-12.col-xs-offset-0.col-sm-8.col-sm-offset-2.col-md-8.col-md-offset-2.col-lg-8.col-lg-offset-2.search-tags
                search-tag(ng-repeat="i in [0,1,2,3,4,5,6]",href="#")
        ul(
        class="{{uiState.isAny('screen-size','screen-md','screen-lg')?'side-menu':'nav navbar-pills subnav'}}"
        )
            li(
            class="{{uiState.isAny('screen-size','screen-md','screen-lg')?'circle':'col-xs-4 col-padding-0'}}"
            ng-class="{'active':uiState.is('ACCOUNT_TAB','INFO')}"
            ng-click="uiState.switch('ACCOUNT_TAB','INFO')"
            )
                a(
                href="#INFO"
                ).eclipse-text
                    i.fa.fa-info
                    span INFO
            li.line
            li(
            class="{{uiState.isAny('screen-size','screen-md','screen-lg')?'circle':'col-xs-4 col-padding-0'}}"
            ng-class="{'active':uiState.is('ACCOUNT_TAB','CONTENT')}"
            ng-click="uiState.switch('ACCOUNT_TAB','CONTENT');"
            )
                a(
                href="#CONTENT"
                ).eclipse-text
                    i.fa.fa-list-alt
                    span CONTENT
            li.line
            li(
            class="{{uiState.isAny('screen-size','screen-md','screen-lg')?'circle':'col-xs-4 col-padding-0'}}"
            ng-class="{'active':uiState.is('ACCOUNT_TAB','TEST')}"
            ng-click="uiState.switch('ACCOUNT_TAB','TEST')"
            )
                a(
                href="#TEST"
                ).eclipse-text
                    i.fa.fa-check
                    span TEST



    .container-fluid.product-details-header.row.section(
    ng-controller="productDetailsCtrl as ProductDetails"
    in-view-half="uiState.switch('ACCOUNT_TAB','INFO')"
    ng-show="uiState.is('ACCOUNT_TAB','INFO')||uiState.isAny('screen-size','screen-md','screen-lg')"
    )
        div.product-details-avatars
            user(model="item", ng-repeat="item in ProductDetails.authors")
        div.product-details-names
            div AUTHOR
                span(ng-if="::ProductDetails.authors.length>1") 'S
                | :
            div(ng-repeat="item in ProductDetails.authors")
                a(href="",fill-with-lorem-ipsum="15",is-name)
        p.product-details-description.col-lg-8.col-lg-offset-2(fill-with-lorem-ipsum="325",is-text)
        .clearfix

        .row-centered
            ul.product-info.product-details.col-centered.col-xs-6.col-sm-5.col-md-4.col-lg-3
                li Category:
                    span
                        a(href="#") Books
                li Pages:
                    span 342
                li Price:
                    span.price(fill-with-lorem-ipsum, is-price)

        .product-details-bottom.row.row-centered.section
            .col-sm-3.col-sm-centered(ng-show="uiState.is('isPurchased',false)")
                a.btn-lg.btn(
                href="javascript:void(0)"
                ng-click="uiState.switch('isPurchased',true)"
                ) Buy
            .col-sm-1.col-sm-centered.or(
            ng-show="uiState.is('isPurchased',false)"
            ) OR
            .col-sm-3.col-sm-centered(ng-show="uiState.is('isPurchased',false)")
                a.btn-lg.btn(
                href="javascript:void(0)"
                ng-click="uiState.switch('isPurchased',true)"
                ) Reserve
            .col-sm-3.col-sm-centered(ng-show="uiState.is('isPurchased')")
                a.btn-lg.btn(
                href="/book"
                ) Open

block content
    div(
    ng-controller="productDetailsCtrl as ProductDetails"
    )
        .section.section-wide.section-info-row.dark-white(
        id="CONTENT"
        ng-show="uiState.is('ACCOUNT_TAB','CONTENT')||uiState.isAny('screen-size','screen-md','screen-lg')"
        in-view-half="uiState.switch('ACCOUNT_TAB','CONTENT')"
        )
            .container.container-info-row
                .row-centered.row-margined-top
                    .col-sm-12
                        h1.info-row-title Table Of Contents
            .product-details-contents
                div.chapter(ng-repeat="i in [0,1,2,3,4,5,6]")
                    .centralizer
                        h2
                            span.num(ng-bind="$index+1")
                            a(href="#")
                                span(fill-with-lorem-ipsum, is-title, max="35", min="15")
                                i.fa.fa-link
                        p(fill-with-lorem-ipsum, is-title, max="205", min="105")
                        h3.hidden-xs(ng-repeat="i in [0,1,2,3,4,5,6]")
                            a(href="#")
                                span(fill-with-lorem-ipsum, is-title, max="105", min="15")
                                i.fa.fa-link
        .section.section-wide.section-info-row(
        ng-class="{'blue':uiState.isAny('screen-size','screen-md','screen-lg'),'dark-white':!uiState.isAny('screen-size','screen-md','screen-lg')}"
        id="TEST"
        ng-show="uiState.is('ACCOUNT_TAB','TEST')||uiState.isAny('screen-size','screen-md','screen-lg')"
        in-view-half="uiState.switch('ACCOUNT_TAB','TEST')"
        )
            .container.container-info-row.product-details-tests
                .row.row-centered
                    .col-sm-12
                        h1.info-row-title Check Yourself
                .row.row-centered.row-margined-bottom
                    .col-sm-8.col-sm-offset-2.hidden-xs
                        h4.info-row-desc(fill-with-lorem-ipsum='165')
                .row.row-centered.row-margined-bottom
                    .col-sm-6.col-md-4.col-lg-4.col-sm-centered
                        a.btn.btn-lg(href="#")
                            div Start Test

        .section.section-info-row(
        id="SUGGESTIONS"
        ng-class="{'violet':!uiState.isAny('screen-size','screen-md','screen-lg'),'dark-white':uiState.isAny('screen-size','screen-md','screen-lg')}"
        )
            include ./suggestions.jade