button.navbar-button.user.pull-left(
ng-if="uiState.is('isLoggedIn',true)",
type='button',
ng-mouseleave="uiState.switch('userMenuOn',false)",
ng-mouseenter="uiState.switch('userMenuOn',true)"
)
    user-logged-in

button.navbar-button.notif.pull-left(
ng-if="uiState.is('isNavbarLogin',false)&&uiState.is('isLoggedIn',true)"
type='button'
ng-mouseleave="uiState.switch('notifMenuOn',false)",
ng-mouseenter="uiState.switch('notifMenuOn',true)"
)
    i.fa.fa-bell-o

ul.content-menu-sub.notif(
ng-mouseleave="uiState.switch('notifMenuOn',false)",
ng-mouseenter="uiState.switch('notifMenuOn',true)"
)
    li.media.notification.pull-left(
    ng-repeat="i in [0,1,2,3]"
    )
        a(
        href="#"
        )
            .media-left.media-middle
                i.fa.fa-book
            .media-right.media-middle
                p(
                fill-with-lorem-ipsum max="100" min="30"
                )

ul.nav.navbar-nav.content-menu-sub.user.container-fluid(
ng-mouseleave="uiState.switch('userMenuOn',false)",
ng-mouseenter="uiState.switch('userMenuOn',true)"
)
    each link in [{name:'Dashboard',url:'/'},{name:'Settings',url:'/Settings'},{name:'Log out',url:'javascript:void(0);','ng-click':"uiState.switchOff('isLoggedIn','isNavbarLogin','userMenuOn')"}]
        li.pull-left
            a(
            href=link.url,
            ng-click=(link['ng-click'] || '')
            )
                h4=link.name